/**
 * @author wangmingliangwx
 * @Email  bright142857@foxmail.com
 * @version : index, v 0.1 2018/9/2 16:42 wangmingliangwx Exp$
 */
/*导航主体*/
.nav-side{
    float: left;
    width: 130px;
    min-height: 100px;
}
.nav-side .nav-item{
    line-height: 25px;
    font-size: 13px;
}
.nav-side .nav-item .link{
    color: #888;
}
.nav-side .nav-item.active .link{
    color: #c60023;
}
/*右侧内容区*/
.content.with-nav{
    float:left;
    width: 950px;
}
